RichTextWithTables/force-app/main/default/flows/Construct_Rich_Text_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment_for_Rows_and_Columns</name>
        <label>Assignment for Rows and Columns</label>
        <locationX>336</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>rows</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Rows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columns</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Columns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputScreen2</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Construct Rich Text Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Construct Rich Text Table</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>InputScreen1</name>
        <label>InputScreen1</label>
        <locationX>234</locationX>
        <locationY>108</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_for_Rows_and_Columns</targetReference>
        </connector>
        <fields>
            <name>Number_of_Rows</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>rows</elementReference>
            </defaultValue>
            <fieldText>Number of Rows</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Provide number of rows(including table header) for the table&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;The Value cannot be less than 1 and greater than 100. Please contact your administrator to update the range.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_Rows} &gt; 0 &amp;&amp; {!Number_of_Rows} &lt; 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Columns</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>columns</elementReference>
            </defaultValue>
            <fieldText>Number of Columns</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Provide number of columns for the table&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Value cannot be less than 1 and greater than 15. Please contact your administrator to update the range.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_Columns} &gt; 0 &amp;&amp; {!Number_of_Columns} &lt; 15</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InputScreen2</name>
        <label>InputScreen2</label>
        <locationX>538</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OutputScreen1</targetReference>
        </connector>
        <fields>
            <name>TableHeader</name>
            <extensionName>c:EK_TableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnHeaders</name>
                <value>
                    <elementReference>Headers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <elementReference>columns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rows</name>
                <value>
                    <elementReference>rows</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Headers</assignToReference>
                <name>columnHeaders</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutputScreen1</name>
        <label>OutputScreen1</label>
        <locationX>562</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TableHTML</name>
            <extensionName>c:EK_TableHTML</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnHeaders</name>
                <value>
                    <elementReference>Headers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <elementReference>columns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rows</name>
                <value>
                    <elementReference>rows</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>InputScreen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>columns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Headers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
